#vma{
  height:50px;
  width:194%;
  margin-left:12px;
}
#vmz{
  height:50px;
  width:181%;
  margin-left:12px;
}
#vnk{
  height:50px;
  width:90%;
  margin-left:12px;
  margin-bottom: 15px;
}
#vnk1{
  height:50px;
  width:89%;
  margin-left:12px;
  margin-bottom: 15px;
}
#vmz1{
  height:50px;
    width:134%;
    margin-left: 10px;
}

#vmax{
  height:50px;
  width:191%;
  margin-left:12px;
}
#vma1{
  height:50px;
  width:142%;
  margin-left:12px;
}
#jera1{
  height:50px;
  width:190%;
  margin-left:12px;
}
#vra1{
  height:50px;
    width:90%;
    margin-left: 10px;
}
#jera1{
  height:50px;
    width:90%;
    margin-left: 10px;
}
